*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    height: 70px;
    width: 260px;
    border-radius: 5rem;
    box-shadow: 1px 1px 20px #adadad7a;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.box-icon , .box-user{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #99e8ae85;
    width:50px ;
    margin: .3rem;
    border-radius: 5rem;
    animation:both;
    height: 50px;
}
.box-user{
    width: 45px;
    height: 45px;
    box-shadow: 1px 1px 20px #adadad7a;
}
.icon-nav{
    margin: 0.4rem;
}
.icon-nav {

    transition: transform .1s; /* Animation */

    margin: 0 auto;
  }
  
  .icon-nav:hover {
    transform: scale(1.2);
 /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .conteine{
    padding: 2rem 1rem;
    
  }
  .logo , .btn-header{
    display: flex;

  }
  .logo{
  justify-content: center;
  }
  .btn-header{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  svg{
    width:25px;
    height: 25px;
  }
  header  {
    display: flex;

    flex-direction: column-reverse;
  }
  img{
    width: 13rem;
  
  }
  
  .slider {
    width: 100%;
    height: 150px;
    position: relative;
    margin-top: 2rem;
  }

  .slider img {
    object-fit: cover;
    border-radius: 1rem;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    /* transition: all 0.5s ease-in-out; */
  }

  .slider img:first-child {
    z-index: 1;
  }

  .slider img:nth-child(2) {
    z-index: 0;
  }

  .navigation-button {
    text-align: center;
    position: relative;
  }

  .dot {
    cursor: pointer;
    height: 2px;
    width: 15px;
    margin: 0 0px;
    background-color: #bbb;
    border-radius: 5%;
    display: inline-block;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  @media (min-width : 600px) {
    .conteine{
        padding: 2rem 5rem;
      }
  }